<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3>{{mars_dt[0].NewsTitle}}</h3>
        <p>{{mars_dt[1].NewsDescription}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col sm-12">
        <h2 class="heading">Featured Mars Image</h2>
        <img src="{{mars_dt[2].FeaturedImage}}" alt="Featured Mars Image"  class="img-responsive">
      </div>
      <div class="col-md-4 col sm-12">
        <h4>Mars Fact</h4>
        <div class="table-responsive">
          <div>{{mars_dt[3].MarsFact  | safe}}</div>
          <!--<table border="1" class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th>Mars</th> </tr> <tr> <th>Description</th> <th></th> </tr> </thead> <tbody> <tr> <th>Equatorial Diameter:</th> <td>6,792 km</td> </tr> <tr> <th>Polar Diameter:</th> <td>6,752 km</td> </tr> <tr> <th>Mass:</th> <td>6.39 × 10^23 kg (0.11 Earths)</td> </tr> <tr> <th>Moons:</th> <td>2 (Phobos &amp; Deimos)</td> </tr> <tr> <th>Orbit Distance:</th> <td>227,943,824 km (1.38 AU)</td> </tr> <tr> <th>Orbit Period:</th> <td>687 days (1.9 years)</td> </tr> <tr> <th>Surface Temperature:</th> <td>-87 to -5 °C</td> </tr> <tr> <th>First Record:</th> <td>2nd millennium BC</td> </tr> <tr> <th>Recorded By:</th> <td>Egyptian astronomers</td> </tr> </tbody> </table>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="heading text-center">Mars Hemispheres</h2>
        <hr>
      </div>
      {% for i in range(4) %}
      <div class="col-md-6 col-sm-12">
        <figure class="figure comparison-fig-left">
          <img src="{{mars_dt[4]['HemisphereImage'][i].img_url}}" alt="{{mars_dt[4]['HemisphereImage'][i].title}}" class="img-responsive">
          <figcaption class="text-center h2">{{mars_dt[4]['HemisphereImage'][i].title}}</figcaption>

        </figure>
          
      </div>
      {% endfor%}
    </div>    
  </div>
</body>

</html>
